{% extends 'blog/base.html' %}
{% load static %}
{% block css%}
<link rel="stylesheet" href="{% static 'css/StylosVariedades.css' %}">     
{% endblock %}

{% block contenido %}
<section class="team contenedor" id="equipo">
    <h3>Nuestras variedades en Almuerzos</h3>
    <p class="after">La comida mueve al mundo</p>
    <div class="card">
        <div class="content-card">
            <div class="secciones">
                <a href="almuerzo.html"><img src="media/Galerias/almuerzo1.jpg" alt=""></a>
            </div>                      
        </div>
        <div class="content-card">
            <div class="secciones">
                <a href="almuerzo.html"><img src="media/Galerias/almuerzo2.jpg" alt=""></a>
            </div>                      
        </div>
        <div class="content-card">
            <div class="secciones">
                <a href="almuerzo.html"><img src="media/Galerias/almuerzo3.jpg" alt=""></a>
            </div>                      
        </div>
        <div class="content-card">
            <div class="secciones">
                <a href="almuerzo.html"><img src="media/Galerias/almuerzo4.jpg"alt=""></a>
            </div>                      
        </div>
        <div class="content-card">
            <div class="secciones">
                <a href="almuerzo.html"><img src="media/Galerias/almuerzo5.jpg" alt=""></a>
            </div>                      
        </div>
        <div class="content-card">
            <div class="secciones">
                <a href="almuerzo.html"><img src="media/Galerias/almuerzo6.jpg" alt=""></a>
            </div>                      
        </div>
        <div class="content-card">
            <div class="secciones">
                <a href="almuerzo.html"><img src="media/Galerias/almuerzo7.jpg" alt=""></a>
            </div>                      
        </div>
        <div class="content-card">
            <div class="secciones">
                <a href="almuerzo.html"><img src="media/Galerias/almuerzo8.jpg" alt=""></a>
            </div>                      
        </div>
        <div class="content-card">
            <div class="secciones">
                <a href="almuerzo.html"><img src="media/Galerias/almuerzo9.jpg" alt=""></a>
            </div>                      
        </div>
        <div class="content-card">
            <div class="secciones">
                <a href="almuerzo.html"><img src="media/Galerias/almuerzo10.jpg" alt=""></a>
            </div>                      
        </div>
        <div class="content-card">
            <div class="secciones">
                <a href="almuerzo.html"><img src="media/Galerias/almuerzo11.jpg" alt=""></a>
            </div>                      
        </div>
        <div class="content-card">
            <div class="secciones">
                <a href="almuerzo.html"><img src="media/Galerias/almuerzo12.jpg" alt=""></a>
            </div>                      
        </div>
        
    </div>
    
{% endblock %}